<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.purple.lettera">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/lettera"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lettera"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Lettera">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
